// Rakenteiden/alueiden tyylit

.layout {
  padding-top: @layout-padding;
  padding-bottom: @layout-padding;

  &-dark {
    .layout-style (@layout-dark-bg, @layout-dark-color);
  }

  &-large-padding {
    padding-bottom: @layout-padding-lg;
    padding-top: @layout-padding-lg;
  }

  &-center-vertically {
    .row {
      @media @tablet {
        align-items: center;
        display: flex;
      }
    }
  }
}

.intro {
  z-index: -1;
  display: table;
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: @black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position:absolute;
}
#spiders {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

@media @tablet-max {
  .intro {
    display: none;
  }
  #spiders {
    display: none;
  }
}

.home-container-three {
  img {
    height: 100px;
    width: auto;
    margin-bottom: -2rem;
  }
}