// Rakenteiden/alueiden tyylit

.layout {
  padding-top: @layout-padding;
  padding-bottom: @layout-padding;

  &-dark {
    .layout-style (@layout-dark-bg, @layout-dark-color);
  }

  &-large-padding {
    padding-bottom: @layout-padding-lg;
    padding-top: @layout-padding-lg;
  }

  &-center-vertically {
    .row {
      @media @tablet {
        align-items: center;
        display: flex;
      }
    }
  }
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Tämä asettaa videon muiden elementtien taakse */
}

.video-wrapper video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}